Xcursor.theme: redglass
URxvt.perl-ext-common: osc52,-selection,font-size,fullscreen
URxvt*keysym.F11: perl:fullscreen:switch

!URxvt.cursorBlink: true
URxvt.cursorUnderline:   false
URxvt.cursorBlink:       false
URxvt.cursorColor:       #cccccc
URxvt.cursorColor2:      #000000
URxvt.reverseVideo:      false

urxvt.scrollBar: False
URxvt.borderLess: true

! Force cursor size for urxvt
URxvt*pointerShape: left_ptr
!URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=50
URxvt.font: xft:BitstromWera Nerd Font Mono:pixelsize=50. 

#urxvt.font: -misc-fixed-medium-r-normal--14-110-*-*-*-*-iso8859-*
#urxvt.*boldFont: -misc-fixed-medium-r-normal--14-110-*-*-*-*-iso8859-*

xterm.dynamiColors: true

